# Introduction

LendingClub is a US peer-to-peer lending company, headquartered in San Francisco, California.[3] It was the first peer-to-peer lender to register its offerings as securities with the Securities and Exchange Commission (SEC), and to offer loan trading on a secondary market. LendingClub is the world's largest peer-to-peer lending platform.

**Goal/Objective**
Given historical data on loans given out with information on whether or not the borrower defaulted (charge-off), can we build a model thatcan predict wether or nor a borrower will pay back their loan? This way in the future when we get a new potential customer we can assess whether or not they are likely to pay back the loan. Keep in mind classification metrics when evaluating the performance of your model!

# 1. Import library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# might be needed depending on your version of Jupyter
%matplotlib inline

# Configuration
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

# display various ranges 
pd.options.display.float_format = '{:.3f}'.format

# Supress warnings
import warnings
warnings.filterwarnings("ignore")

print("Setup complete...")

Setup complete...

# 2. Import data

In [2]:
df = pd.read_csv('lending_club_loan_two.csv')
df.shape

(396030, 27)

# 3. Data Exploration

## 3.1. Descriptive Statistics

### 3.1.1. Data Overview

----
-----
There are many LendingClub data sets on Kaggle. Here is the information on this particular data set:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>LoanStatNew</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>loan_amnt</td>
      <td>The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>term</td>
      <td>The number of payments on the loan. Values are in months and can be either 36 or 60.</td>
    </tr>
    <tr>
      <th>2</th>
      <td>int_rate</td>
      <td>Interest Rate on the loan</td>
    </tr>
    <tr>
      <th>3</th>
      <td>installment</td>
      <td>The monthly payment owed by the borrower if the loan originates.</td>
    </tr>
    <tr>
      <th>4</th>
      <td>grade</td>
      <td>LC assigned loan grade</td>
    </tr>
    <tr>
      <th>5</th>
      <td>sub_grade</td>
      <td>LC assigned loan subgrade</td>
    </tr>
    <tr>
      <th>6</th>
      <td>emp_title</td>
      <td>The job title supplied by the Borrower when applying for the loan.*</td>
    </tr>
    <tr>
      <th>7</th>
      <td>emp_length</td>
      <td>Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.</td>
    </tr>
    <tr>
      <th>8</th>
      <td>home_ownership</td>
      <td>The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER</td>
    </tr>
    <tr>
      <th>9</th>
      <td>annual_inc</td>
      <td>The self-reported annual income provided by the borrower during registration.</td>
    </tr>
    <tr>
      <th>10</th>
      <td>verification_status</td>
      <td>Indicates if income was verified by LC, not verified, or if the income source was verified</td>
    </tr>
    <tr>
      <th>11</th>
      <td>issue_d</td>
      <td>The month which the loan was funded</td>
    </tr>
    <tr>
      <th>12</th>
      <td>loan_status</td>
      <td>Current status of the loan</td>
    </tr>
    <tr>
      <th>13</th>
      <td>purpose</td>
      <td>A category provided by the borrower for the loan request.</td>
    </tr>
    <tr>
      <th>14</th>
      <td>title</td>
      <td>The loan title provided by the borrower</td>
    </tr>
    <tr>
      <th>15</th>
      <td>zip_code</td>
      <td>The first 3 numbers of the zip code provided by the borrower in the loan application.</td>
    </tr>
    <tr>
      <th>16</th>
      <td>addr_state</td>
      <td>The state provided by the borrower in the loan application</td>
    </tr>
    <tr>
      <th>17</th>
      <td>dti</td>
      <td>A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.</td>
    </tr>
    <tr>
      <th>18</th>
      <td>earliest_cr_line</td>
      <td>The month the borrower's earliest reported credit line was opened</td>
    </tr>
    <tr>
      <th>19</th>
      <td>open_acc</td>
      <td>The number of open credit lines in the borrower's credit file.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>pub_rec</td>
      <td>Number of derogatory public records</td>
    </tr>
    <tr>
      <th>21</th>
      <td>revol_bal</td>
      <td>Total credit revolving balance</td>
    </tr>
    <tr>
      <th>22</th>
      <td>revol_util</td>
      <td>Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.</td>
    </tr>
    <tr>
      <th>23</th>
      <td>total_acc</td>
      <td>The total number of credit lines currently in the borrower's credit file</td>
    </tr>
    <tr>
      <th>24</th>
      <td>initial_list_status</td>
      <td>The initial listing status of the loan. Possible values are – W, F</td>
    </tr>
    <tr>
      <th>25</th>
      <td>application_type</td>
      <td>Indicates whether the loan is an individual application or a joint application with two co-borrowers</td>
    </tr>
    <tr>
      <th>26</th>
      <td>mort_acc</td>
      <td>Number of mortgage accounts.</td>
    </tr>
    <tr>
      <th>27</th>
      <td>pub_rec_bankruptcies</td>
      <td>Number of public record bankruptcies</td>
    </tr>
  </tbody>
</table>

---
----

In [3]:
df.head()

   loan_amnt        term  int_rate  installment grade sub_grade                emp_title emp_length home_ownership  annual_inc verification_status   issue_d  loan_status             purpose                    title    dti earliest_cr_line  open_acc  pub_rec  revol_bal  revol_util  total_acc initial_list_status application_type  mort_acc  pub_rec_bankruptcies                                          address
0  10000.000   36 months    11.440      329.480     B        B4                Marketing  10+ years           RENT  117000.000        Not Verified  Jan-2015   Fully Paid            vacation                 Vacation 26.240         Jun-1990    16.000    0.000  36369.000      41.800     25.000                   w       INDIVIDUAL     0.000                 0.000     0174 Michelle Gateway\nMendozaberg, OK 22690
1   8000.000   36 months    11.990      265.680     B        B5          Credit analyst     4 years       MORTGAGE   65000.000        Not Verified  Jan-2015   Fully Paid  debt_consolidation       Debt consolidation 22.050         Jul-2004    17.000    0.000  20131.000      53.300     27.000                   f       INDIVIDUAL     3.000                 0.000  1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
2  15600.000   36 months    10.490      506.970     B        B3             Statistician   < 1 year           RENT   43057.000     Source Verified  Jan-2015   Fully Paid         credit_card  Credit card refinancing 12.790         Aug-2007    13.000    0.000  11987.000      92.200     26.000                   f       INDIVIDUAL     0.000                 0.000  87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
3   7200.000   36 months     6.490      220.650     A        A2          Client Advocate    6 years           RENT   54000.000        Not Verified  Nov-2014   Fully Paid         credit_card  Credit card refinancing  2.600         Sep-2006     6.000    0.000   5472.000      21.500     13.000                   f       INDIVIDUAL     0.000                 0.000            823 Reid Ford\nDelacruzside, MA 00813
4  24375.000   60 months    17.270      609.330     C        C5  Destiny Management Inc.    9 years       MORTGAGE   55000.000            Verified  Apr-2013  Charged Off         credit_card    Credit Card Refinance 33.950         Mar-1999    13.000    0.000  24584.000      69.800     43.000                   f       INDIVIDUAL     1.000                 0.000             679 Luna Roads\nGreggshire, VA 11650

In [30]:
df.shape

(396030, 27)

### 3.1.2. Descriptive Statisitc

In [4]:
df.describe(include='all').T

                          count  unique                      top    freq      mean       std     min       25%       50%       75%         max
loan_amnt            396030.000     NaN                      NaN     NaN 14113.888  8357.441 500.000  8000.000 12000.000 20000.000   40000.000
term                     396030       2                36 months  302005       NaN       NaN     NaN       NaN       NaN       NaN         NaN
int_rate             396030.000     NaN                      NaN     NaN    13.639     4.472   5.320    10.490    13.330    16.490      30.990
installment          396030.000     NaN                      NaN     NaN   431.850   250.728  16.080   250.330   375.430   567.300    1533.810
grade                    396030       7                        B  116018       NaN       NaN     NaN       NaN       NaN       NaN         NaN
sub_grade                396030      35                       B3   26655       NaN       NaN     NaN       NaN       NaN       NaN         NaN
emp_title                373103  173105                  Teacher    4389       NaN       NaN     NaN       NaN       NaN       NaN         NaN
emp_length               377729      11                10+ years  126041       NaN       NaN     NaN       NaN       NaN       NaN         NaN
home_ownership           396030       6                 MORTGAGE  198348       NaN       NaN     NaN       NaN       NaN       NaN         NaN
annual_inc           396030.000     NaN                      NaN     NaN 74203.176 61637.621   0.000 45000.000 64000.000 90000.000 8706582.000
verification_status      396030       3                 Verified  139563       NaN       NaN     NaN       NaN       NaN       NaN         NaN
issue_d                  396030     115                 Oct-2014   14846       NaN       NaN     NaN       NaN       NaN       NaN         NaN
loan_status              396030       2               Fully Paid  318357       NaN       NaN     NaN       NaN       NaN       NaN         NaN
purpose                  396030      14       debt_consolidation  234507       NaN       NaN     NaN       NaN       NaN       NaN         NaN
title                    394275   48817       Debt consolidation  152472       NaN       NaN     NaN       NaN       NaN       NaN         NaN
dti                  396030.000     NaN                      NaN     NaN    17.380    18.019   0.000    11.280    16.910    22.980    9999.000
earliest_cr_line         396030     684                 Oct-2000    3017       NaN       NaN     NaN       NaN       NaN       NaN         NaN
open_acc             396030.000     NaN                      NaN     NaN    11.311     5.138   0.000     8.000    10.000    14.000      90.000
pub_rec              396030.000     NaN                      NaN     NaN     0.178     0.531   0.000     0.000     0.000     0.000      86.000
revol_bal            396030.000     NaN                      NaN     NaN 15844.540 20591.836   0.000  6025.000 11181.000 19620.000 1743266.000
revol_util           395754.000     NaN                      NaN     NaN    53.792    24.452   0.000    35.800    54.800    72.900     892.300
total_acc            396030.000     NaN                      NaN     NaN    25.415    11.887   2.000    17.000    24.000    32.000     151.000
initial_list_status      396030       2                        f  238066       NaN       NaN     NaN       NaN       NaN       NaN         NaN
application_type         396030       3               INDIVIDUAL  395319       NaN       NaN     NaN       NaN       NaN       NaN         NaN
mort_acc             358235.000     NaN                      NaN     NaN     1.814     2.148   0.000     0.000     1.000     3.000      34.000
pub_rec_bankruptcies 395495.000     NaN                      NaN     NaN     0.122     0.356   0.000     0.000     0.000     0.000       8.000
address                  396030  393700  USS Smith\nFPO AP 70466       8       NaN       NaN     NaN       NaN       NaN       NaN         NaN

## 3.2. Examining types of variables

### 3.2.1. Inspect types of variables

In [5]:
df.dtypes

loan_amnt               float64
term                     object
int_rate                float64
installment             float64
grade                    object
sub_grade                object
emp_title                object
emp_length               object
home_ownership           object
annual_inc              float64
verification_status      object
issue_d                  object
loan_status              object
purpose                  object
title                    object
dti                     float64
earliest_cr_line         object
open_acc                float64
pub_rec                 float64
revol_bal               float64
revol_util              float64
total_acc               float64
initial_list_status      object
application_type         object
mort_acc                float64
pub_rec_bankruptcies    float64
address                  object
dtype: object

There are a mixture of categorical and numerical variables. Numerical are those of type int and float. Categorical those of type object.
+ Numerical vars may include: continous vars, discrete vars, sequence nunber (Id), or wrong format of categorical vars 
+ Categorical vars may include: text vars, datetime vars, or wrong format of numeric vars 

At this step, need to categorize to types of vars and have closer examination for problems they may have and clean data approriately

### 3.2.2. Categorize feature types

In [6]:
## target
target = ['loan_status']
print("\nTarget var: ", target)

## cat vars
cat_vars = [var for var in df.columns if df[var].dtypes == 'O' if var not in target]
print("\nCategorical vars: ", cat_vars)
print('There are {} categorical variables'.format(len(cat_vars)))

num_vars = [var for var in df.columns if df[var].dtypes != 'O' if var not in target]
print("\nNumerical vars: ", num_vars)
print('There are {} numerical variables'.format(len(num_vars)))

dis_vars = [var for var in num_vars if len(df[var].unique()) < 30]
print("\nDiscrete vars: ", dis_vars)
print('There are {} numerical variables'.format(len(dis_vars)))

cont_vars = [var for var in num_vars if var not in dis_vars]
print("\nContinous vars: ", cont_vars)
print('There are {} numerical variables'.format(len(cont_vars)))

Target var:  ['loan_status']

Categorical vars:  ['term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'purpose', 'title', 'earliest_cr_line', 'initial_list_status', 'application_type', 'address']
There are 14 categorical variables

Numerical vars:  ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc', 'pub_rec_bankruptcies']
There are 12 numerical variables

Discrete vars:  ['pub_rec', 'pub_rec_bankruptcies']
There are 2 numerical variables

Continous vars:  ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc']
There are 10 numerical variables

### 3.2.3. Target var

#### Check if there is row with missing labels or incorrect labels

In [7]:
df[target].describe()

       loan_status
count       396030
unique           2
top     Fully Paid
freq        318357

In [8]:
df['loan_status'].value_counts()/len(df['loan_status'])

Fully Paid    0.804
Charged Off   0.196
Name: loan_status, dtype: float64

**Summary**: 
+ Imbalanced data between 2 classes

### 3.2.4. Categorical vars

#### View of categorical variables

In [9]:
cat_vars = [var for var in df.columns if df[var].dtypes == 'O' if var not in target]
df[cat_vars].head()

         term grade sub_grade                emp_title emp_length home_ownership verification_status   issue_d             purpose                    title earliest_cr_line initial_list_status application_type                                          address
0   36 months     B        B4                Marketing  10+ years           RENT        Not Verified  Jan-2015            vacation                 Vacation         Jun-1990                   w       INDIVIDUAL     0174 Michelle Gateway\nMendozaberg, OK 22690
1   36 months     B        B5          Credit analyst     4 years       MORTGAGE        Not Verified  Jan-2015  debt_consolidation       Debt consolidation         Jul-2004                   f       INDIVIDUAL  1076 Carney Fort Apt. 347\nLoganmouth, SD 05113
2   36 months     B        B3             Statistician   < 1 year           RENT     Source Verified  Jan-2015         credit_card  Credit card refinancing         Aug-2007                   f       INDIVIDUAL  87025 Mark Dale Apt. 269\nNew Sabrina, WV 05113
3   36 months     A        A2          Client Advocate    6 years           RENT        Not Verified  Nov-2014         credit_card  Credit card refinancing         Sep-2006                   f       INDIVIDUAL            823 Reid Ford\nDelacruzside, MA 00813
4   60 months     C        C5  Destiny Management Inc.    9 years       MORTGAGE            Verified  Apr-2013         credit_card    Credit Card Refinance         Mar-1999                   f       INDIVIDUAL             679 Luna Roads\nGreggshire, VA 11650

#### Ordinal vars
+ term, grade, sub_grade, emp_length: ordinal vars, should be converted to numeric vars

#### Date Time vars
+ issue_d, earliest_cr_line:should be converted to datetime

**Mixed type of variables**: 
+ address (value contains both numbers and letters): We could extract the numerical part and then the non-numerical part and generate 2 variables out of them, to see if that adds value to our predictive models.

#### Inspect cardinality: number of labels
+ tittle, address, emp_title: they contain a lot of labels. In addition, those variables are not usable as such, and they require some mannual preprocessing.

In [10]:
for var in cat_vars:
    print(var, ' contains ', len(df[var].unique()), ' labels')

term  contains  2  labels
grade  contains  7  labels
sub_grade  contains  35  labels
emp_title  contains  173106  labels
emp_length  contains  12  labels
home_ownership  contains  6  labels
verification_status  contains  3  labels
issue_d  contains  115  labels
purpose  contains  14  labels
title  contains  48818  labels
earliest_cr_line  contains  684  labels
initial_list_status  contains  2  labels
application_type  contains  3  labels
address  contains  393700  labels

#### Inspect rare labels

+ ***grade, sub_grade, home_ownership, purpose, application_type***: Contains the rare labels 

+ ***term***: does not contain rare labels

In [11]:
removed_list = ['emp_title','title','address','earliest_cr_line','issue_d']
selected_list = [e for e in cat_vars if e not in removed_list]

# rare / infrequent labels (less than 1% of passengers)
for var in selected_list:
    print(df[var].value_counts() / np.float(len(df)))
    print()

 36 months   0.763
 60 months   0.237
Name: term, dtype: float64

B   0.293
C   0.268
A   0.162
D   0.160
E   0.080
F   0.030
G   0.008
Name: grade, dtype: float64

B3   0.067
B4   0.065
C1   0.060
C2   0.057
B2   0.057
B5   0.056
C3   0.054
C4   0.051
B1   0.048
A5   0.047
C5   0.046
D1   0.040
A4   0.040
D2   0.035
D3   0.031
D4   0.029
A3   0.027
A1   0.025
D5   0.024
A2   0.024
E1   0.020
E2   0.019
E3   0.016
E4   0.014
E5   0.012
F1   0.009
F2   0.007
F3   0.006
F4   0.005
F5   0.004
G1   0.003
G2   0.002
G3   0.001
G4   0.001
G5   0.001
Name: sub_grade, dtype: float64

10+ years   0.318
2 years     0.090
< 1 year    0.080
3 years     0.080
5 years     0.067
1 year      0.065
4 years     0.060
6 years     0.053
7 years     0.053
8 years     0.048
9 years     0.039
Name: emp_length, dtype: float64

MORTGAGE   0.501
RENT       0.403
OWN        0.095
OTHER      0.000
NONE       0.000
ANY        0.000
Name: home_ownership, dtype: float64

Verified          0.352
Source Verified   0.332
Not Verified      0.316
Name: verification_status, dtype: float64

debt_consolidation   0.592
credit_card          0.210
home_improvement     0.061
other                0.053
major_purchase       0.022
small_business       0.014
car                  0.012
medical              0.011
moving               0.007
vacation             0.006
house                0.006
wedding              0.005
renewable_energy     0.001
educational          0.001
Name: purpose, dtype: float64

f   0.601
w   0.399
Name: initial_list_status, dtype: float64

INDIVIDUAL   0.998
JOINT        0.001
DIRECT_PAY   0.001
Name: application_type, dtype: float64

#### Inspect unique values to check abnormal, special letters
+ There is no special, abnormal letters in categorical vars

In [12]:
removed_list = ['emp_title','title','address','earliest_cr_line','issue_d']
selected_list = [e for e in cat_vars if e not in removed_list]

for var in selected_list:
    print(var, ' values: ', df[var].unique())

term  values:  [' 36 months' ' 60 months']
grade  values:  ['B' 'A' 'C' 'E' 'D' 'F' 'G']
sub_grade  values:  ['B4' 'B5' 'B3' 'A2' 'C5' 'C3' 'A1' 'B2' 'C1' 'A5' 'E4' 'A4' 'A3' 'D1'
 'C2' 'B1' 'D3' 'D5' 'D2' 'E1' 'E2' 'E5' 'F4' 'E3' 'D4' 'G1' 'F5' 'G2'
 'C4' 'F1' 'F3' 'G5' 'G4' 'F2' 'G3']
emp_length  values:  ['10+ years' '4 years' '< 1 year' '6 years' '9 years' '2 years' '3 years'
 '8 years' '7 years' '5 years' '1 year' nan]
home_ownership  values:  ['RENT' 'MORTGAGE' 'OWN' 'OTHER' 'NONE' 'ANY']
verification_status  values:  ['Not Verified' 'Source Verified' 'Verified']
purpose  values:  ['vacation' 'debt_consolidation' 'credit_card' 'home_improvement'
 'small_business' 'major_purchase' 'other' 'medical' 'wedding' 'car'
 'moving' 'house' 'educational' 'renewable_energy']
initial_list_status  values:  ['w' 'f']
application_type  values:  ['INDIVIDUAL' 'JOINT' 'DIRECT_PAY']

### 3.2.5. Discrete vars

In [13]:
df[dis_vars].head()

   pub_rec  pub_rec_bankruptcies
0    0.000                 0.000
1    0.000                 0.000
2    0.000                 0.000
3    0.000                 0.000
4    0.000                 0.000

#### Visualize the values of discrete values

In [14]:
for var in dis_vars:
    print(var, ' values: ', df[var].unique())

pub_rec  values:  [ 0.  1.  2.  3.  4.  6.  5.  8.  9. 10. 11.  7. 19. 13. 40. 17. 86. 12.
 24. 15.]
pub_rec_bankruptcies  values:  [ 0.  1.  2.  3. nan  4.  5.  6.  7.  8.]

**Variables contain only 1 value or missing value**: id, member_id, url, policy_code  => Should be removed

In [15]:
for var in dis_vars:
    if(len(df[var].unique()) == 1):
        print(var, ' values: ', df[var].unique())

#### Check outliers/rare values in discrete vars
Let's calculate the percentage of passengers for each  of the values that can take the discrete variables in the titanic dataset. I will call outliers, those values that are present in less than 1% of the passengers. This is exactly the same as finding rare labels in categorical variables. Discrete variables, in essence can be pre-processed / engineered as if they were categorical. Keep this in mind.

+ ***pub_rec, pub_rec_bankruptcies***:

In [16]:
# outlies in discrete variables
for var in dis_vars:
    print(df[var].value_counts() / np.float(len(df)))
    print()

0.000    0.854
1.000    0.126
2.000    0.014
3.000    0.004
4.000    0.001
5.000    0.001
6.000    0.000
7.000    0.000
8.000    0.000
9.000    0.000
10.000   0.000
11.000   0.000
13.000   0.000
12.000   0.000
19.000   0.000
86.000   0.000
40.000   0.000
17.000   0.000
15.000   0.000
24.000   0.000
Name: pub_rec, dtype: float64

0.000   0.885
1.000   0.108
2.000   0.005
3.000   0.001
4.000   0.000
5.000   0.000
6.000   0.000
7.000   0.000
8.000   0.000
Name: pub_rec_bankruptcies, dtype: float64

### 3.2.6. Continous vars

#### View continous vars

In [17]:
df[cont_vars].head()

   loan_amnt  int_rate  installment  annual_inc    dti  open_acc  revol_bal  revol_util  total_acc  mort_acc
0  10000.000    11.440      329.480  117000.000 26.240    16.000  36369.000      41.800     25.000     0.000
1   8000.000    11.990      265.680   65000.000 22.050    17.000  20131.000      53.300     27.000     3.000
2  15600.000    10.490      506.970   43057.000 12.790    13.000  11987.000      92.200     26.000     0.000
3   7200.000     6.490      220.650   54000.000  2.600     6.000   5472.000      21.500     13.000     0.000
4  24375.000    17.270      609.330   55000.000 33.950    13.000  24584.000      69.800     43.000     1.000

### 3.2.7. Text vars

### 3.2.8. Temporal vars

In [18]:
df[['issue_d', 'earliest_cr_line']].head()

    issue_d earliest_cr_line
0  Jan-2015         Jun-1990
1  Jan-2015         Jul-2004
2  Jan-2015         Aug-2007
3  Nov-2014         Sep-2006
4  Apr-2013         Mar-1999

## 3.3. Summary

### Overall
+ Categorical variables: 5
    - 2 Mixed type of variables:  Cabin, Ticket 
    - 3 categorical vars: Sex, Name, Embarked
+ Numerical variables: 6
    - 3 discrete: Pclass, SibSp and Parch
    - 2 continuous: Fare and Age
    - 1 sequence number: Id 
+ Binary target: 1 (Survived)

### Problems
+ **Redundant vars**:
    - 
+ **Target variable**:
    - Keep rows having loan_status as 'Fully Paid' or 'Charge Off', remove the rows with remaining values. There are 957061 missing labels and should be excluded in the cleaning step
    - Need to define target var
+ **Categorical vars**:
    - Ordinal vars: term, emp_length => should be converted to numeric vars
    - DateTime vars: issue_d, earliest_cr_line, last_pymnt_d, next_pymnt_d, last_credit_pull_d => should be converted to datetime
    - Mixed type vars: Cabin, Ticket => extract numerical part and categorical part
    - High cardinality vars: Name, Ticket, Cabin
    - Only one value: 
+ **Discrete vars**:
    - Norminal vars: policy_code => should be converted to categorical vars
    - Only one value: id, member_id, url, policy_code  => Should be removed
+ **Continous vars**:
    - Sequence number: PassengerId (it is a label for each of the passengers)  => redundant variable, and should be removed
+ **DateTime vars**:
    - 'issue_d', 'last_pymnt_d','earliest_cr_line', 'next_pymnt_d', 'last_credit_pull_d' => should be converted to DateTime vars
+ **Text vars**:
    - desc

## 3.3. Summary

### Overall
+ Categorical variables: 5
    - 2 Mixed type of variables:  Cabin, Ticket 
    - 3 categorical vars: Sex, Name, Embarked
+ Numerical variables: 6
    - 3 discrete: Pclass, SibSp and Parch
    - 2 continuous: Fare and Age
    - 1 sequence number: Id 
+ Binary target: 1 (Survived)

### Problems
+ **Redundant vars**:
    - 
+ **Target variable**:
    - Keep rows having loan_status as 'Fully Paid' or 'Charge Off', remove the rows with remaining values. There are 957061 missing labels and should be excluded in the cleaning step
    - Need to define target var
+ **Categorical vars**:
    - Ordinal vars: term, emp_length => should be converted to numeric vars
    - DateTime vars: issue_d, earliest_cr_line, last_pymnt_d, next_pymnt_d, last_credit_pull_d => should be converted to datetime
    - Mixed type vars: Cabin, Ticket => extract numerical part and categorical part
    - High cardinality vars: Name, Ticket, Cabin
    - Only one value: 
+ **Discrete vars**:
    - Norminal vars: policy_code => should be converted to categorical vars
    - Only one value: id, member_id, url, policy_code  => Should be removed
+ **Continous vars**:
    - Sequence number: PassengerId (it is a label for each of the passengers)  => redundant variable, and should be removed
+ **DateTime vars**:
    - 'issue_d', 'last_pymnt_d','earliest_cr_line', 'next_pymnt_d', 'last_credit_pull_d' => should be converted to DateTime vars
+ **Text vars**:
    - desc

# 5. Data Cleaning

## 5.1. Before cleaning dataset

In [19]:
print('Original shape: ', df.shape)

## target
target = ['loan_status']
print("\nTarget var: ", target)

## cat vars
cat_vars = [var for var in df.columns if df[var].dtypes == 'O' if var not in target]
print("\nCategorical vars: ", cat_vars)
print('There are {} categorical variables'.format(len(cat_vars)))

num_vars = [var for var in df.columns if df[var].dtypes != 'O' if var not in target]
print("\nNumerical vars: ", num_vars)
print('There are {} numerical variables'.format(len(num_vars)))

dis_vars = [var for var in num_vars if len(df[var].unique()) < 30]
print("\nDiscrete vars: ", dis_vars)
print('There are {} numerical variables'.format(len(dis_vars)))

cont_vars = [var for var in num_vars if var not in dis_vars]
print("\nContinous vars: ", cont_vars)
print('There are {} numerical variables'.format(len(cont_vars)))

Original shape:  (396030, 27)

Target var:  ['loan_status']

Categorical vars:  ['term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'purpose', 'title', 'earliest_cr_line', 'initial_list_status', 'application_type', 'address']
There are 14 categorical variables

Numerical vars:  ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc', 'pub_rec_bankruptcies']
There are 12 numerical variables

Discrete vars:  ['pub_rec', 'pub_rec_bankruptcies']
There are 2 numerical variables

Continous vars:  ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti', 'open_acc', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc']
There are 10 numerical variables

## 5.2. Cleaning data

### 5.2.1. Define target

In [20]:
df['loan_status'].value_counts()

Fully Paid     318357
Charged Off     77673
Name: loan_status, dtype: int64

In [21]:
df['Class'] = df['loan_status'].map({'Fully Paid':0, 'Charged Off':1})
df = df.drop('loan_status',axis=1)
df.shape

(396030, 27)

### 5.2.2. Remove redundant rows

### 5.2.3. Remove unneccessary cols

### 5.2.4. Convert wrong format to right format

#### Convert ordinal vars to number

In [22]:
print(df['term'].value_counts())
df['term'] = df['term'].apply(lambda term: int(term[:3]))
df['term'].value_counts()

 36 months    302005
 60 months     94025
Name: term, dtype: int64

36    302005
60     94025
Name: term, dtype: int64

In [23]:
print(df['emp_length'].unique())
df['num_emp_length'] = df['emp_length'].map({'10+ years':10, 
                                         '9 years':9, 
                                         '8 years':8,
                                         '7 years':7,
                                         '6 years':6,
                                         '5 years':5,
                                         '4 years':4,
                                         '3 years':3,
                                         '2 years':2,
                                         '1 year':1,
                                         '< 1 year':0.5})
df = df.drop('emp_length',axis=1)
df['num_emp_length'].value_counts()

['10+ years' '4 years' '< 1 year' '6 years' '9 years' '2 years' '3 years'
 '8 years' '7 years' '5 years' '1 year' nan]

10.000    126041
2.000      35827
0.500      31725
3.000      31665
5.000      26495
1.000      25882
4.000      23952
6.000      20841
7.000      20819
8.000      19168
9.000      15314
Name: num_emp_length, dtype: int64

#### Convert nominal vars to categorical vars

#### Convert vars to datetime

In [24]:
df[['issue_d','earliest_cr_line']].head()

    issue_d earliest_cr_line
0  Jan-2015         Jun-1990
1  Jan-2015         Jul-2004
2  Jan-2015         Aug-2007
3  Nov-2014         Sep-2006
4  Apr-2013         Mar-1999

In [25]:
df['issue_d'] = pd.to_datetime(df.issue_d)
df['earliest_cr_line'] = pd.to_datetime(df.earliest_cr_line)

df[['issue_d', 'earliest_cr_line']].head()

     issue_d earliest_cr_line
0 2015-01-01       1990-06-01
1 2015-01-01       2004-07-01
2 2015-01-01       2007-08-01
3 2014-11-01       2006-09-01
4 2013-04-01       1999-03-01

### 5.2.5. Remove duplicated rows

In [26]:
print (df.shape)
df = df.drop_duplicates(keep='last')
print (df.shape)

(396030, 27)
(396030, 27)

### 5.2.6. Reset index

In [27]:
df = df.reset_index(drop = True)

## 5.3. After cleaning

In [28]:
## target
target = ['Class']
print("\nTarget var: ", target)

text_vars = []

mixed_vars = ['address']

## cat vars
cat_vars = [var for var in df.columns if df[var].dtypes == 'O' if var not in target]
print("\n========================================================================")
print("\nCategorical vars: ", cat_vars)
print('There are {} categorical variables'.format(len(cat_vars)))

one_level = [var for var in cat_vars if len(df[var].unique()) == 1 if var not in mixed_vars+text_vars]
print("\nOne level vars: ", one_level)
print('There are {} One level variables'.format(len(one_level)))

low_levels = [var for var in cat_vars if len(df[var].unique()) <= 30 if var not in mixed_vars+text_vars]
print("\nLow cardinality vars: ", low_levels)
print('There are {} Low cardinality variables'.format(len(low_levels)))

high_levels = [var for var in cat_vars if len(df[var].unique()) > 30 if var not in mixed_vars+text_vars]
print("\nHigh cardinality vars: ", high_levels)
print('There are {} High cardinality variables'.format(len(high_levels)))

print("\nMixed type vars: ", mixed_vars)
print('There are {} Mixed type  variables'.format(len(mixed_vars)))

num_vars = [var for var in df.columns if df[var].dtypes != 'O' if var not in target]
print("\n========================================================================")
print("\nNumerical vars: ", num_vars)
print('\nThere are {} Numerical variables'.format(len(num_vars)))

dis_vars = [var for var in num_vars if len(df[var].unique()) < 20]
print("\nDiscrete vars: ", dis_vars)
print('There are {} Discrete variables'.format(len(dis_vars)))

cont_vars = [var for var in num_vars if var not in dis_vars]
print("\nContinous vars: ", cont_vars)
print('There are {} Continous variables'.format(len(cont_vars)))

datetime_vars = [var for var in df.columns if df[var].dtypes == '<M8[ns]']
print("\n========================================================================")
print("\nDateTime vars: ", datetime_vars)
print('There are {} DateTime variables'.format(len(datetime_vars)))

print("\n========================================================================")
print("\nText vars: ", text_vars)
print('There are {} Text variables'.format(len(text_vars)))

Target var:  ['Class']

========================================================================

Categorical vars:  ['grade', 'sub_grade', 'emp_title', 'home_ownership', 'verification_status', 'purpose', 'title', 'initial_list_status', 'application_type', 'address']
There are 10 categorical variables

One level vars:  []
There are 0 One level variables

Low cardinality vars:  ['grade', 'home_ownership', 'verification_status', 'purpose', 'initial_list_status', 'application_type']
There are 6 Low cardinality variables

High cardinality vars:  ['sub_grade', 'emp_title', 'title']
There are 3 High cardinality variables

Mixed type vars:  ['address']
There are 1 Mixed type  variables

========================================================================

Numerical vars:  ['loan_amnt', 'term', 'int_rate', 'installment', 'annual_inc', 'issue_d', 'dti', 'earliest_cr_line', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc', 'pub_rec_bankruptcies', 'num_emp_length']

There are 16 Numerical variables

Discrete vars:  ['term', 'pub_rec_bankruptcies', 'num_emp_length']
There are 3 Discrete variables

Continous vars:  ['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'issue_d', 'dti', 'earliest_cr_line', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'mort_acc']
There are 13 Continous variables

========================================================================

DateTime vars:  ['issue_d', 'earliest_cr_line']
There are 2 DateTime variables

========================================================================

Text vars:  []
There are 0 Text variables

In [29]:
df.to_csv('cleaned_ds.csv',index=False)

In [31]:
df.shape

(396030, 27)